mixin notice-message
    .message.notice
        p Notice message! Your message here
            a(href="#"): i.icon-cancel

mixin error-message
    .message.error
        p Error message! Your message here
            a(href="#"): i.icon-cancel

mixin warning-message
    .message.warning
        p Warning message! Your message here
            a(href="#"): i.icon-cancel

mixin success-message
    .message.success
        p Success message! Your message here
            a(href="#"): i.icon-cancel

mixin info-message
    .message.info
        p Info message! Your message here
            a(href="#"): i.icon-cancel

mixin error-messagefull
    .messagefull.error
        .content
            h5 ERROR MESSAGE! 
            a(href="#"): i.icon-cancel
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 

mixin warning-messagefull
    .messagefull.warning
        .content
            h5 WARNING MESSAGE!  
            a(href="#"): i.icon-cancel
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 

mixin success-messagefull
    .messagefull.success
        .content
            h5 SUCCESS MESSAGE! 
            a(href="#"): i.icon-cancel
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 

mixin info-messagefull
    .messagefull.info
        .content
            h5 INFO MESSAGE! 
            a(href="#"): i.icon-cancel
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
