include component
include social
include nav
include header
include home
include slip-page
include footer
include section
include team
include service
include widget
include blog
include testimonials
include call-to-action
include accordion
include portfolio
include blog-homepage
include tab
include count
include page
include shop-slider
include shop
include shop-homepage
include shop-detail-mixin
include product
include shop-cart-mixin
include checkout
include shop-successfully-mixin
include quote
include brand-slider
include portfolio-slider
include coverbox
include highlights
include blockquotes
include messagebox
include pricing-table
include post-detail
include dropcaps
include progressbar
include piechart



