mixin shop-successfully
    .shop-successfully
        h3.color-main THANKS FOR YOUR ORDER!
        p You successfully posted a payment to your account
        p.infor Payment Amount:&nbsp;
            span $532.00
        p.infor Your confirmation number is:&nbsp; 
            span 0123acb89f
        a.border-btn.border-btn-gray.btn-size-4(href="index.html") CONTINUE