extends module/form
block page-config
    -page_option.body_class = "creative-page";
    -page_option.count_to = false;
    -page_option.count_down = false;
    -page_option.slider = true;
    -page_option.isotope = true;
    -page_option.slip_screen = false;
    -page_option.bootstrap_js = true;
    -page_option.jquery_ui = false;
    -page_option.magnific_popup = false;
block page-data
    - var data_portfolio_header = { subtitle: "WHAT WE DO" , title: "ENJOY OUR PORTFOLIO" , caption:"Design is our art and our passion. Our goal is to create the best products with a pixel-perfect eye for detail and a high standard for aesthetic excellence. Let us help you make your website simple, beautiful and professional."}
    - var data_service_header = { subtitle: "CREATIVITY & DARINGS" , title: "CHECK OUT OUR SERVICES" , caption:"Wolverine Creative are an independent , one-stop creative specialist  with the experience & the know how to come up with great business solutions and make them happen"}
    - var data_team_header = { subtitle: "MEET OUR TEAM" , title: "WHAT MAKES US SUCCESSFUL" , caption:"Most businesses think that product is the most important thing, but without great leadership, mission and a team that deliver results at a high level, even the best product won't make a company successful."}
//- body>
block before-main
    +main-nav-2-a3
//- body>main>
block header
    header.site-header
        +home-fw-slider-8
//- body>main>
block main
    section
        +service-section-03
    section.no-padding
        +page-about-no-header
    section
        +section-header-2-1(data_team_header)
        +team-section-01
    section.no-padding
        +portfolio-home-corporate
    section.large-space.one-child
        +brand-carousel-1
//- body>main>
block footer
    +footer-preset-04
//- body>
block after-main