extends module/form
block page-config
    -page_option.body_class = "alternative";
    -page_option.count_to = true;
    -page_option.count_down = false;
    -page_option.slider = true;
    -page_option.isotope = true;
    -page_option.slip_screen = false;
    -page_option.bootstrap_js = true;
    -page_option.jquery_ui = false;
    -page_option.magnific_popup = true;
block page-data
    - var data_portfolio_header = { subtitle: "WHAT WE WORK" , title: "ENJOY OUR PORTFOLIO" , caption:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper"}
    - var data_team_header ={title : "MEET OUR TEAM" , caption :"Most businesses think that product is the most important thing, but without great leadership, mission and a team that deliver results at a high level, even the best product won't make a company successful."}
//- body>
block before-main
    +main-nav-2-b2
//- body>main>
block header
    header.site-header
        +home-fw-slider-10
//- body>main>
block main
    section.bgc-gray
        +service-section-03
    section.no-padding
        +portfolio-home-creative(data_portfolio_header)
    section
        +section-header-2-1(data_team_header)
        +team-section-01
    section.large-space
        .parallax-bg.quote-slider-parallax(data-stellar-background-ratio="0.25" style="background-image: url('assets/images/quote-bg.jpg');")
        +quote-slider-02('color-light')
    section.large-space.one-child
        +brand-carousel-1
//- body>main>
block footer
    +footer-preset-02
//- body>
block after-main
