extends module/form-portfolio
block page-config
    -portfolio_data = []
    -for (var i = 0; i<15 ; i++)
        -portfolio_data[i] = {}
        -portfolio_data[i].img = 'assets/images/portfolio-600-' + (i + 1) + '.jpg'
        -portfolio_data[i].title = 'CREATIVELY DESIGNED'
        -portfolio_data[i].caption = 'Lorem ipsum dolor sit'
        -portfolio_data[i].filter = portfolio_filter_array[(i+1)%5] + ' ' + portfolio_filter_array[(i+3)%5]
    -portfolio_option.page_title = 'PORTFOLIO';
    -portfolio_option.type = 'item-2';
    -portfolio_option.container_class = 'container-fluid remove-col-padding';
    -portfolio_option.item_class = 'w20p col-md-4 col-sm-6 col-xs-12';