extends module/form
block page-config
    -page_option.body_class = null;
    -page_option.count_to = false;
    -page_option.count_down = false;
    -page_option.slider = true;
    -page_option.isotope = false;
    -page_option.slip_screen = false;
    -page_option.bootstrap_js = true;
    -page_option.jquery_ui = false;
    -page_option.magnific_popup = false;
block page-data
//- body>
block before-main
    +main-nav-2-b1
//- body>main>
block header
    +common-static-header('PORTFOLIO')
    +page-breadcrumb(['Home','Porfolio','Small Slide'])
//- body>main>
block main
    section
        .container
            .row
                .col-md-7.col-xs-12.section-block
                    +portfolio-box-slider
                .col-md-5.col-xs-12.section-block-p
                    h5.smb.color-main INTERIOR
                    h3 NOMAD CHAIR WE DO WOOD
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.
                    h5.font-serif.color-main.smb: b Custom Field
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    h5.font-serif.color-main.smb: b Date
                    p 24 September, 2014
                    h5.font-serif.color-main.smb: b Category
                    p Art, Photography
//- body>main>
block footer
    +footer-preset-02
//- body>
block after-main
