extends module/form
block page-config
    -page_option.body_class = null;
    -page_option.count_to = false;
    -page_option.count_down = false;
    -page_option.slider = false;
    -page_option.isotope = false;
    -page_option.slip_screen = false;
    -page_option.bootstrap_js = false;
    -page_option.jquery_ui = false;
    -page_option.magnific_popup = false;
block page-data
//- body>
block before-main
    +main-nav-2-a3
//- body>main>
block header
//- body>main>
block main
    +page-breadcrumb(['no content'],true)
    section.no-padding
        .container
            +shop-successfully
//- body>main>
block footer
    +footer-preset-04
//- body>
block after-main