extends module/form
block page-config
    -page_option.body_class = null;
    -page_option.count_to = false;
    -page_option.count_down = false;
    -page_option.slider = false;
    -page_option.isotope = false;
    -page_option.slip_screen = false;
    -page_option.bootstrap_js = false;
    -page_option.jquery_ui = false;
    -page_option.magnific_popup = false;
block page-data
block before-main
    +main-nav-2-b1
block header
    header.site-header
    +common-static-header('CONTACT FORM')
block main
    section
        +page-contact
block footer
    +footer-preset-02
block after-main