extends module/form
block page-config
    -page_option.body_class = null;
    -page_option.count_to = false;
    -page_option.count_down = false;
    -page_option.slider = true;
    -page_option.isotope = false;
    -page_option.slip_screen = false;
    -page_option.bootstrap_js = false;
    -page_option.jquery_ui = false;
    -page_option.magnific_popup = false;
block page-data
block before-main
    +main-nav-2-b1
block header
    +common-static-header('COLUMNS')
block main
    section.no-padding-bottom
        .container
            .row
                .col-xs-12
                    h4 IV COLUMN LAYOUT
                .col-lg-3.col-md-4.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-lg-3.col-md-4.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-lg-3.col-md-4.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-lg-3.col-md-4.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
    section.no-padding-bottom
        .container
            .row
                .col-xs-12 
                    h4 III COLUMN LAYOUT
                .col-md-4.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-md-4.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-md-4.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
    section.no-padding-bottom
        .container
            .row
                .col-xs-12 
                    h4 II COLUMN LAYOUT
                .col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
    section.no-padding-bottom
        .container
            .row        
                .col-xs-12
                    h4 I COLUMN LAYOUT
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
    section.no-padding-bottom
        .container
            .row
                .col-xs-12
                    h4 I THIRD /III THIRD COLUMN LAYOUT
                .col-lg-3.col-md-5.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-lg-9.col-md-7.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta. Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
    section.no-padding-bottom
        .container
            .row
                .col-xs-12
                    h4 I THIRD /II THIRD COLUMN LAYOUT
                .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-lg-8.col-md-7.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta. Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua.
    section.no-padding-bottom
        .container
            .row
                .col-xs-12
                    h4 II THIRD /I THIRD COLUMN LAYOUT
                .col-lg-8.col-md-7.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta. Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua.
                .col-lg-4.col-md-5.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
    section
        .container
            .row
                .col-xs-12
                    h4 I THIRD /III THIRD COLUMN LAYOUT
                .col-lg-9.col-md-5.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta. Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
                .col-lg-3.col-md-7.col-sm-6.col-xs-12
                    p Lorem ipsum dolor sit amet, consectetur a adipisicing elit, sed do eiusmod tempor on incididunt ut labore et dolore magna zaras aliqua. Ut enim ad minim veniam, quis no at with strud exercitation ullamco laboris nisi dolorem ipsum quia dolor sit dicta.
block footer
    +footer-preset-03
block after-main