extends module/form
block page-config
    -page_option.body_class = null;
    -page_option.count_to = false;
    -page_option.count_down = false;
    -page_option.slider = false;
    -page_option.isotope = false;
    -page_option.slip_screen = false;
    -page_option.bootstrap_js = false;
    -page_option.jquery_ui = false;
    -page_option.magnific_popup = false;
block page-data
block before-main
    +main-nav-2-b1
block header
    header.site-header
    +common-static-header('BUTTON')
block main
    section.one-child
        .container.shortcode-button
            .row
                .col-md-4.col-sm-6.col-xs-12
                    -for(var i = 1; i < 7; i++)
                        a.normal-btn.normal-btn-main.section-block(href="#" class="btn-size-" + i) READ MORE
                        br
                .col-md-4.col-sm-6.col-xs-12
                    -for(var i = 1; i < 7; i++)
                        a.border-btn.border-btn-lightgray.section-block(href="#" class="btn-size-" + i) READ MORE
                        br
                .col-md-4.col-sm-6.col-xs-12
                    -for(var i = 1; i < 7; i++)
                        a.normal-btn.normal-btn-gray.section-block(href="#" class="btn-size-" + i) READ MORE
                        br
                .col-md-4.col-sm-6.col-xs-12
                    -for(var i = 1; i < 7; i++)
                        a.normal-btn.normal-btn-darkgray.section-block(href="#" class="btn-size-" + i) READ MORE
                        br
                .col-md-4.col-sm-6.col-xs-12
                    -for(var i = 1; i < 7; i++)
                        a.normal-btn.normal-btn-dark.section-block(href="#" class="btn-size-" + i) READ MORE
                        br
                .col-md-4.col-sm-6.col-xs-12
                    -for(var i = 1; i < 7; i++)
                        a.border-btn.border-btn-main.section-block(href="#" class="btn-size-" + i) READ MORE
                        br
block footer
    +footer-preset-02
block after-main